/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет лого и кнопок #2196F3 */

/* основной цвет фона #FFFFFF  */
/* вторичныйцвет фона #2F303A */
/* дополнительный цвет фона #F5F4FA */

html {
  box-sizing: border-box;
}

// Переменная цветов сайта
$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$white: #ffffff;
$second-background-color: #2f303a;
$additional-background-color: #f5f4fa;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $primary-text-color;
  margin: 0 auto;
  background-position: center;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//   cursor: pointer;
//   cursor: auto;

/*header*/

header {
  background-color: $white;
}

.page-header {
  background-color: $white;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  background-color: $white;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.logo {
  color: $accent-color;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__item {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__menu {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  display: block;
  padding: 32px 0;
  margin-left: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__menu--current::after {
  content: "";

  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;

  bottom: -1px;
}

.site-nav__menu--current {
  color: $accent-color;
}
.page-header__info {
  margin-left: auto;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: stretch;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item:hover,
.site-nav__item:focus {
  fill: $accent-color;
}

.auth-nav__link {
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__icon {
  margin-right: 10px;
  background-size: cover;
  fill: currentColor;
}

/*main contant*/

/*section order*/

.order {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imghero.jpg);
  text-align: center;
  padding: 200px 0;

  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: $second-background-color;

  background-size: cover;
}

.order__container {
  background-color: transparent;
}

.order__main-idea {
  max-width: 696px;
  margin: 0 auto 30px;
  color: $white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.order__btn {
  color: $white;
  background-color: $accent-color;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  overflow: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  background-color: $white;
  outline: none;
}

.button-close {
  position: absolute;
  top: 7px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close__pic {
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button-close:hover &,
  .button-close:focus & {
    fill: $accent-color;
  }
}

.form__name {
  padding-top: 40px;
  margin: 0;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $primary-text-color;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 41px;
  padding-right: 39px;
}

.form__field:not(:first-of-type) {
  margin-top: 10px;
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  color: $title-text-color;
  margin-right: auto;
  margin-bottom: 4px;
}

.form__area {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.form__pic {
  position: absolute;
  top: 50%;
  left: 53px;
}

.form__pic:hover + .form__input,
.form__pic:focus + .form__input {
  border: 1px solid $accent-color;
}

.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  color: $primary-text-color;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.form__textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.checkbox__box--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__box {
  display: inline-block;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  background-color: $white;
  width: 15px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__box:checked + .checkbox__icon {
  border-color: transparent;
  background-image: url("../images/checkwhite.svg");
  background-color: $accent-color;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding-top: 1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link {
  color: $accent-color;
  font-family: inherit;
  text-decoration: underline;
}

.btn__submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: $white;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  margin-bottom: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

/* section advantages*/

.advantages {
  background-color: $white;
  list-style: none;
  padding-top: 94px;
}

.advantages__list {
  margin: 0;
  display: flex;
}

.advantages__card {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__box {
  width: 270px;
  height: 120px;
  background-color: $additional-background-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 10px;
}

.advantages__text {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

/*our works and team*/

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works__text,
.team__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-top: 0;
  margin-bottom: 50px;
}

.works__block {
  margin: 0;
  display: flex;
  align-content: center;
}

.works__card {
  margin-right: 30px;
  padding-bottom: 94px;
  width: 370px;
  height: 294px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.works__thumb {
  position: relative;
  z-index: 1;
}

.works__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.works__info {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 27px 0;
  display: flex;
  justify-content: center;
}

/* team */

.team {
  background-color: $additional-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__container {
  background-color: $additional-background-color;
}

.team__item {
  display: flex;
}

.team__card {
  margin-right: 30px;
  background-color: $white;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team__info {
  padding: 30px 32px 30px 32px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  color: $title-text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
}

.social {
  display: flex;
  margin-top: 16px;
  background-color: $white;
}

.social__info:not(:last-child) {
  margin-right: 10px;
}

.link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  background-color: $accent-color;
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social__link:hover &,
  .social__link:focus & {
    fill: $white;
  }
}

/* our clients */

.clients {
  background-color: $white;
  list-style: none;
  padding: 94px 0;
}

.clients__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.clients__list {
  display: flex;
  text-align: center;
}

.clients__info:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}

/*contact inform*/

.footer {
  background-color: $second-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  background-color: $second-background-color;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: $white;
}

.footer__contact {
  color: $white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.footer__auth {
  margin-top: 9px;
}

.footer__item {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__title:nth-child(n + 2) {
  margin-top: 9px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-left: 70px;
}

.join__text {
  color: $white;
  margin: 0;
  margin-bottom: 20px;
}

.join__item {
  display: flex;
}

.join__info:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
  }
}

.join__icon {
  fill: $white;

  .join__link:hover &,
  .join__link:focus & {
    fill: $white;
  }
}

.footer__mailing {
  display: flex;
}

.footer__form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;

  margin-bottom: 20px;
}

.footer__textarea {
  width: 358px;
  height: 50px;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  color: $white;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: auto;
  background-color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: $white;
  padding-left: 29px;
  padding-right: 10px;
}

/* страница 2 */

.page-header {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  display: inline;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button__search:not(:last-child) {
  margin-right: 8px;
}

.button__text {
  color: $primary-text-color;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent-color;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.product__card {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.product__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;

  .product__link:hover &,
  .product__link:focus & {
    transform: translateX(0);
    opacity: 1;
  }
}

.product__text {
  margin: 0;
  padding: 63px 24px;
  font-style: regular;
  font-size: 18px;
  line-height: 1.55;
  color: rgba(255, 255, 255, 1);
}

.product__content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.product__opportunity {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  margin-bottom: 4px;
}

.product__item {
  color: $title-text-color;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
